{% extends 'base.html.twig' %}

{% block body %}
	<h2>Index</h2>
{# 	<a href="{{path('receive_sms', {'message': 'sample message', 'phone_no': '0705285959'})}}">Trigger receive message</a><br />
	<a href="{{path('random_string')}}">Random string</a>
 #}   
    <a href="{{ path('smsout_new') }}">Send new message</a><br />
    <a href="{{ path('list_messages') }}">Mpesa received messages</a><br />
    <a href="{{ path('receive_sms', {'sms_origin': '0736600033', 'message': "BS49OR20Z Confirmed.You have received Ksh20.00 from MICHAEL SOMEONE 254705285959 on 15/10/11 at 11:52 AM New M-PESA balance is Ksh100.00"}) }}">Receive a mock message</a><br />
    <a href="{{ path('clear_messages') }}">Clear all messages from mpesa table</a><br />
{% endblock %}